<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <hr>
  <section *ngIf="books as books else noData">
    <app-book class="bookComponent"
      *ngFor="let book of books"
      [book]="book"></app-book>
  </section>
  <ng-template #noData>No Data Available</ng-template>
</body>
</html>-->
<div class="row card-deck" *ngIf="books as books else noData">
  <div class="col-lg-4 col-md-6 mb-4" >
    <app-book class="bookComponent"
              *ngFor="let book of books"
              [book]="book"></app-book>
  </div>
</div>
<ng-template #noData>No Data Available</ng-template>
