<!--
<nav class="navbar-expand-lg navbar-dark bg-dark fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar"
              aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">Logo</a>
      <a class="navbar-brand" href="#" (click)="reset()">Home
        <span class="sr-only">(current)</span>
      </a>
      <a class="navbar-brand" routerLink="/orders">Orders</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="/register"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
        <li routerLinkActive="active"><a routerLink="/auth"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
-->
<nav class="navbar-expand-lg navbar-dark bg-dark navbar-fixed-top navbar-inverse">
  <div class="container-fluid" style="padding-left: 10px;padding-right: 10px">
    <!--<a class="navbar-brand" href="#" (click)="reset()">Home</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarResponsive" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <!--<a class="nav-link" href="#" (click)="reset()">Home
            <span class="sr-only">(current)</span>
          </a>-->
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--<div class="row">
  <div class="col-md-9">
    <app-home #homeC></app-home>
  </div>
  <div class="col-md-3">
    <app-shopping-cart (onOrderFinished)=finishOrder($event) #shoppingCartC
                       [hidden]="orderFinished"></app-shopping-cart>
  </div>
  <div class="col-md-6 offset-3">
    <app-orders #ordersC [hidden]="!orderFinished"></app-orders>
  </div>
</div>-->
