<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="customerFirstName">First Name</label>
    <input id="customerFirstName" type="text" formControlName="customerFirstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.customerFirstName.errors }" />
    <div *ngIf="submitted && f.customerFirstName.errors" class="invalid-feedback">
      <div *ngIf="f.customerFirstName.errors.required">First Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="customerLastName">Last Name</label>
    <input id="customerLastName" type="text" formControlName="customerLastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.customerLastName.errors }" />
    <div *ngIf="submitted && f.customerLastName.errors" class="invalid-feedback">
      <div *ngIf="f.customerLastName.errors.required">Last Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input id="username" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Register
    </button>
    <a routerLink="/login" class="btn btn-link">Cancel</a>
  </div>
</form>
